/* Empty. Add your own CSS if you like */
.color-box {
    width: 10px;
    height: 100px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 100px;
    top: 5px;
    z-index: -1;
    text-align: center;
}

.item .item-avatar {
	width: 30px;
	height: 30px;
	text-align: center;
}